{% if include.lookup %}
  {% assign member = site.members | where: "slug", include.lookup | first %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign type = site.data.types[member.role] %}
{% assign mem = site.members | where: "slug", member.slug | first %}

{% if mem.links['home-page'] %}
  {% assign redirect_url = mem.links['home-page'] %}
{% elsif mem.links['linkedin'] %}
  {% assign linkedin_handle = mem.links['linkedin'] %}
  {% assign redirect_url = "https://www.linkedin.com/in/" | append: linkedin_handle %}
{% else %}
  {% assign email_address = mem.links['email'] %}
  {% assign redirect_url = "mailto:" | append: email_address %}
{% endif %}


<div class="portrait-wrapper">
  {% if redirect_url %}
    <a href="{{ redirect_url }}" class="portrait" data-style="{{ include.style }}" aria-label="{{ member.name | default: 'member link' }}">
  {% else %}
    <div class="portrait" data-style="{{ include.style }}" aria-label="{{ member.name | default: 'member link' }}">
  {% endif %}

    {% if type %}
      {% include icon.html icon=type.icon %}
    {% endif %}

    <img
      src="{{ member.image | relative_url }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >

    {% if member.name %}
      <span class="portrait-name">
        {{ member.name }}
      </span>
    {% endif %}

    {% if member.description or type %}
      <span class="portrait-description">
        {{ member.description | default: type.description }}
      </span>
    {% endif %}

    {% if member.affiliation %}
      <span class="portrait-affiliation">
        {{ member.affiliation }}
      </span>
    {% endif %}

  {% if redirect_url %}
    </a>
  {% else %}
    </div>
  {% endif %}
</div>
